* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* NAV bar */

#nav_bar1 {
  font-size: 14px;
  display: flex;
  color: white;
  background-color: #131313;
  width: 100%;
  height: 32px;
  justify-content: space-between;
  align-items: center;
}

.nav-bar1_links {
  font-size: 13px;
}

.nav-bar2_links {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.flex_text > a {
  color: #979899;
}

.layer_top1 > a {
  width: auto;
  display: grid;
  color: white;
  justify-items: center;
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 5px;
}

.layer_top2 > a {
  margin-left: 32%;
  color: #131313;
}

.layer_bot2 > a {
  color: #3f3d3d;
  font-size: smaller;
}

.part1 > a {
  color: #f42;
  font-weight: bolder;
  font-size: 23px;
}

.layer_bot > div > a {
  color: #000;
}

.before_image > p > a {
  color: #f42;
  font-weight: bold;
}

.layer_bot > div > span > a {
  color: #3f3d3d;
  font-size: small;
}

.section5_items > div > p > a {
  color: #000;
  font-weight: bolder;
}

.part1 > a:hover {
  color: black;
}

.before_image > p > a:hover {
  border-bottom: 1px solid #f42;
}

.layer_bot > div > span > a:hover {
  color: black;
}

.section2_items > div > div > a:hover {
  color: #000;
}

.before_image > p {
  color: #f42;
  margin-left: 20px;
}

.section5_items > div > p > a:hover {
  color: #f42;
}

#part2_1 > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

#part2_1 > p {
  color: white;
  margin: 0 0 10px 10px;
  font-size: small;
}

#part2_2 > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

#part2_2 > p {
  color: white;
  margin: 0 0 10px 10px;
  font-size: small;
}

#part2_3 > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

#part2_3 > p {
  color: white;
  margin: 0 0 10px 10px;
  font-size: small;
}

#part2_4 > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

#part2_4 > p {
  color: white;
  margin: 0 0 10px 10px;
  font-size: small;
}

#part2_5 > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

#part2_5 > p {
  color: white;
  margin: 0 0 10px 10px;
  font-size: small;
}

#part2_6 > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

#part2_6 > p {
  color: white;
  margin: 0 0 10px 10px;
  font-size: small;
}

#part2_7 > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

#part2_7 > p {
  color: white;
  margin: 0 0 10px 10px;
  font-size: small;
}

#part2_8 > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

#part2_8 > p {
  color: white;
  margin: 0 0 10px 10px;
  font-size: small;
}

#part2_9 > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

#part2_9 > p {
  color: white;
  margin: 0 0 10px 10px;
  font-size: small;
}

#nav_bar1 > div > a {
  color: rgb(201, 196, 196);
  text-decoration: none;
  margin-left: 7px;
}

#links_left {
  margin-left: 20px;
}

#links_right {
  margin-right: 20px;
}

#nav_bar2 {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30% 57% 3%;
  width: 100%;
  height: 48px;
  background-color: #fff;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 50;
}

.section2_items > div {
  font-size: smaller;
  display: grid;
}

.section2_items > div > div {
  display: flex;
  flex-direction: row;
}

#nav_bar2 > div {
  width: 100%;
  height: 100%;
}

#logo_top {
  display: none;
  background-color: black;
}

#nav_bar2_cont {
  display: flex;
  align-items: center;
}

#button_search {
  display: grid;
  justify-items: center;
  align-items: center;
  border-left: 1px solid #eee;
  color: #bebebe;
}

#nav_bar2 > div > a {
  color: rgb(201, 196, 196);
  text-decoration: none;
  margin-left: 7px;
}

#nav_bar3 {
  display: none;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: #fff;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 50;
}

#nav_bar_logo {
  background-color: black;
  display: grid;
  color: white;
  align-items: center;
  justify-content: center;
}

#nav_bar3 > div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#title2 > div {
  display: flex;
}

#nav_bar3 > div > div {
  display: grid;
  justify-items: center;
  align-items: center;
}

#cont_search_menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.menu_logo {
  border-left: 1px solid #eee;
}

/* SECTION 1 */

body {
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  width: 100%;
}

#section1 {
  display: grid;
  width: 100%;
  height: 550px;
  background-color: #f0f0f0;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8px;
  grid-gap: 10px;
  margin: 10px auto auto auto;
}

#section1_box1 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/wing-mirror-nuro-driverless-autonomousm-car-delivery-bird-regulations-796x448.jpeg);
  background-position: center;
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 90% 10%;
  align-items: flex-end;
  box-shadow: inset -5em -20em 9em -2em rgba(0, 0, 0, 0.685);
}

#image_title {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.image_title2 {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#section1_box2 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Capitol-dating-app-796x417.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 85% 15%;
  align-items: flex-end;
  box-shadow: inset -5em -20em 9em -2em rgba(0, 0, 0, 0.685);
}

#section1_box3 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Galaxy-hed-796x419.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 85% 15%;
  align-items: flex-end;
  box-shadow: inset -5em -20em 9em -2em rgba(0, 0, 0, 0.685);
}

.flex_text {
  display: flex;
  margin: 20px;
  column-gap: 8px;
  color: #979899;
}

/* SECTION 2 */

#title1 {
  margin: auto;
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 30px;
  justify-content: start;
}

#title1 > h3 > a {
  color: #f42;
  font-size: 26px;
}

#section2 {
  width: 90%;
  height: auto;
  display: grid;
  margin: auto;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section2_items {
  width: 90%;
  margin-bottom: 10px;
  height: 250px;
}

.section2_links {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.special_text {
  color: #adadad;
}

.section2_items > img {
  width: 100%;
  height: 45%;
}

.section2_links:hover {
  color: #f42;
}

#title_section1:hover {
  color: #000;
}

/* SECTION 3 */

#title2 {
  text-decoration: none;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 50px auto 30px auto;
}

.section3_titles {
  color: #f42;
}

#title2 > div > p {
  color: #f42;
}

#title2 > div > a {
  color: #f42;
  font-size: 20px;
  margin: 0 15px 0 15px;
}

#title_section3 > h3 {
  font-size: 23px;
}

#section3 {
  width: 90%;
  height: 300px;
  margin: auto;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section3_items {
  display: grid;
  width: 90%;
  height: 291px;
  margin: auto;
}

.layer_top {
  display: grid;
  grid-template-rows: 40%;
  width: 100%;
}

.layer_top1 {
  background-color: #f42;
  display: grid;
  width: 100%;
}

.layer_top2 {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffebe7;
}

.layer_top1 > img {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 15px 0 0 10px;
}

.layer_top2 > h5 {
  margin-left: 32%;
  color: #787685;
  font-size: 11px;
}

.layer_bot {
  background-color: #fffaf8;
  display: grid;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
}

.layer_bot2 {
  background-color: #fffaf8;
  border-top: 1px solid #ffcdc2;
}

#title3 > div > a {
  font-size: 22px;
  color: #f42;
}

#title3 > div > p > a {
  color: #f42;
}

#title2 > div > a:hover {
  color: black;
}

/* SECTION 4 */

#section4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 90%;
  height: auto;
  margin: auto;
}

.section4_items {
  height: 730px;
  width: 90%;
  display: grid;
  grid-template-rows: 10% 40% 15% 30%;
  justify-items: center;
  margin: 60px auto auto auto;
}

.part1 {
  display: flex;
  justify-self: start;
  align-items: center;
}

#part2_1 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/07/Trump-Twitter-368x276.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset -5em -14em 9em -2em rgba(0, 0, 0, 0.685);
}

.part3 {
  display: grid;
  width: 100%;
  grid-template-columns: 70% 30%;
}

.before_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff4f2;
}

#part3_1 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/winklevossbitcoin.jpg);
  background-position: center;
  background-size: cover;
}

.part4 {
  display: grid;
  width: auto;
  margin-top: 10px;
}

.part4 > ul > li {
  border-bottom: 1px solid #eee;
  font-size: smaller;
  color: #3f3d3d;
}

.part4 > ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  list-style: none;
}

ul li:hover {
  cursor: pointer;
  color: #000;
}

.underline:hover {
  text-decoration: underline;
}

/* 2 */

#part2_2 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Untitled-design-2020-10-01T165604.930-368x276.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset -5em -14em 9em -2em rgba(0, 0, 0, 0.685);
}

#part3_2 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/android-auto-language-ev-future-car-infotainment-car-play-carplay-android-phone.png);
  background-position: center;
  background-size: cover;
}

/* 3 */

#part2_3 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Eye-strain-screen-time-hed-368x276.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset -5em -14em 9em -2em rgba(0, 0, 0, 0.685);
}

#part3_3 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Sleep-hed.png);
  background-position: center;
  background-size: cover;
}

/* 4 */

#part2_4 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1-copy-29-368x276.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset -5em -14em 9em -2em rgba(0, 0, 0, 0.685);
}

#part3_4 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/ev-phantom-rols-royce-silent-shadow-car-future-electric-vehicle.jpg);
  background-position: center;
  background-size: cover;
}

/* 5 */

#part2_5 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/Untitled-design-13-368x276.png);
  background-position: center;
  background-size: cover;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset -5em -14em 9em -2em rgba(0, 0, 0, 0.685);
}

#part3_5 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/09/Untitled-design-13.jpg);
  background-position: center;
  background-size: cover;
}

/* 6 */

#part2_6 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/open-source-code-gq-368x276.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset -5em -14em 9em -2em rgba(0, 0, 0, 0.685);
}

#part3_6 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/google-logo-podium.png);
  background-position: center;
  background-size: cover;
}

/* 7 */

#part2_7 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/salary-negotiation-meeting-gq-368x276.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset -5em -14em 9em -2em rgba(0, 0, 0, 0.685);
}

#part3_7 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1-copy-27.jpg);
  background-position: center;
  background-size: cover;
}

/* 8 */

#part2_8 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/toyota-suv-new-ev-car-future-electric-japan-368x276.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset -5em -14em 9em -2em rgba(0, 0, 0, 0.685);
}

#part3_8 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/hummer-ev-future-car-love-hate-next-gmc-gm-ultium.jpg);
  background-position: center;
  background-size: cover;
}

/* 9 */

#part2_9 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/stellaris_hearts-368x276.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset -5em -14em 9em -2em rgba(0, 0, 0, 0.685);
}

#part3_9 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/boring-zoom-meeting-gq.png);
  background-position: center;
  background-size: cover;
}

ul li::before {
  content: "\2022";
  color: red;
  margin-right: 6px;
  list-style-position: inside;
}

/* SECTION 5 */

#title3 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 120px auto 20px auto;
}

.original_price {
  color: #aaa;
  font-size: small;
}

.new_price {
  color: #3b3b3b;
}

#section5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 90%;
  height: 600px;
  margin: auto;
}

.section5_items {
  margin: auto;
  width: auto;
  height: 201px;
}

.section5_items > img {
  width: 100%;
  height: 201px;
}

#title3 > div > a:hover {
  color: black;
}

#title3 > div > p > a:hover {
  color: black;
}

/* FOOTER */

footer {
  display: grid;
  grid-template-rows: 60% 40%;
  background-color: burlywood;
  width: 100%;
  height: 270px;
  margin: 60px auto auto auto;
}

#footer_top {
  border: 2px solid black;
  background-color: #131313;
  display: grid;
  grid-template-rows: 60% 40%;
}

#box_footer1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.box_footer1_items {
  width: 40px;
  height: 40px;
}

#box_footer1 > a > i {
  color: white;
  padding: 13px;
  border-radius: 50%;
  background-color: #333;
}

#box_footer1 > a > img {
  color: white;
  padding: 13px;
  border-radius: 50%;
  background-color: #333;
  width: 20px;
  height: 15px;
}

#box_footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box_footer2_links {
  color: #979797;
  font-size: smaller;
}

#footer_bot {
  display: flex;
  border: 2px solid black;
  background-color: #000;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: #aaa;
}

#stackpath {
  color: white;
}

#box_footer1 > a > img:hover {
  background-color: black;
  border: 2px solid #333;
}

#box_footer1 > a > i:hover {
  background-color: black;
  border: 2px solid #333;
}

/* Media Querry */

/* Phone size */

@media only screen and (max-width: 600px) {
  #nav_bar1 {
    display: none;
  }

  #nav_bar2 {
    display: none;
  }

  #nav_bar3 {
    display: inherit;
  }

  #section1 {
    display: grid;
    grid-template-columns: unset;
    height: auto;
  }

  #section1_box1,
  #section1_box2,
  #section1_box3 {
    display: grid;
    grid-column: unset;
    grid-template-rows: 80% 20%;
    grid-row: auto;
    height: 169px;
    box-shadow: inset -5em -10em 9em -2em rgba(0, 0, 0, 0.685);
  }

  #image_title {
    font-size: 10px;
  }

  #title1 {
    display: flex;
    width: 97%;
  }

  #section2 {
    width: 97%;
    grid-gap: unset;
    grid-template-columns: unset;
  }

  .section2_items {
    max-width: unset;
    height: 88px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
  }

  .section2_items > img {
    height: 100%;
    width: 100%;
  }

  #image_title,
  .image_title2,
  #image_title3 {
    font-size: 18px;
  }

  .flex_text {
    margin: 10px;
    font-size: 14px;
  }

  .flex_text > a {
    font-size: 14px;
  }

  .section5_items > div {
    margin-left: 5%;
  }

  .section2_items > div {
    display: grid;
  }

  .section2_items > div > div {
    display: flex;
    align-items: flex-start;
  }

  #title2 {
    display: grid;
  }

  #title2 > div {
    display: grid;
  }

  .section5_items > div > p > a {
    font-size: 13px;
  }

  #title2 > div > a {
    margin-top: 10px;
  }

  #box_footer2 > a:hover {
    color: white;
  }

  .hide {
    display: none;
  }

  #section3 {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: auto;
  }

  #section3_hide {
    display: none;
  }

  .section3_items {
    height: 300px;
  }

  #section4 {
    grid-template-columns: unset;
  }

  #section5 {
    grid-template-columns: unset;
    height: auto;
  }

  .section5_items {
    display: grid;
    height: 88px;
    grid-template-columns: 30% 70%;
  }

  .section5_items > img {
    width: 100%;
    height: 100%;
  }

  #box_footer1 {
    gap: 20px;
  }

  .box_footer1_items {
    width: 30px;
    height: 30px;
  }

  #box_footer2 {
    gap: 10px;
  }
}

/* Tablet size */

@media (max-width: 1024px) and (min-width: 600px) {
  #nav_bar2 {
    grid-template-columns: 55% 40% 5%;
  }

  #section1 {
    height: 320px;
  }

  #logo_top {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    color: white;
  }

  .nav-bar2_links {
    width: 19%;
    font-size: 13px;
  }

  #image_title {
    font-size: 25px;
  }

  .image_title2,
  #image_title3 {
    font-size: 20px;
  }

  #section1_box1 {
    grid-template-rows: 85% 15%;
  }

  #section1_box2 {
    grid-template-rows: 80% 20%;
  }

  .flex_text {
    margin: 10px;
    font-size: 10px;
  }

  #title2 {
    display: grid;
    row-gap: 20px;
  }

  #section2 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #section3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #section3_hide {
    display: none;
  }

  .layer_top1 > a {
    margin-left: 21%;
  }

  .layer_top1 > img {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 15px 0 0 2%;
  }

  .layer_top2 > h5 {
    margin-left: 40%;
  }

  .layer_top2 > a {
    margin-left: 40%;
  }

  #section4 {
    grid-template-columns: 1fr 1fr;
  }

  #section5 {
    grid-template-columns: 1fr 1fr 1fr;
    height: 1000px;
  }
}
