/* FOOTER */

footer {
  display: grid;
  grid-template-rows: 60% 40%;
  background-color: burlywood;
  width: 100%;
  height: 270px;
  margin: 60px auto auto auto;
}

#footer_top {
  border: 2px solid black;
  background-color: #131313;
  display: grid;
  grid-template-rows: 60% 40%;
}

#box_footer1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.box_footer1_items {
  width: 30px;
  height: 30px;
}

#box_footer1 > a > i {
  color: white;
  padding: 13px;
  border-radius: 50%;
  background-color: #333;
}

#box_footer1 > a > img {
  color: white;
  padding: 13px;
  border-radius: 50%;
  background-color: #333;
  width: 20px;
  height: 15px;
}

#box_footer2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.box_footer2_links {
  color: #979797;
  font-size: smaller;
}

#footer_bot {
  display: flex;
  border: 2px solid black;
  background-color: #000;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: #aaa;
}

#stackpath {
  color: white;
}

#box_footer1 > a > img:hover {
  background-color: black;
  border: 2px solid #333;
}

#box_footer1 > a > i:hover {
  background-color: black;
  border: 2px solid #333;
}
