/* SECTION 2 */

#title1 {
  margin: auto;
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 30px;
  justify-content: start;
}

#title1 > h3 > a {
  color: #f42;
  font-size: 26px;
}

#section2 {
  width: 90%;
  height: 750px;
  display: grid;
  margin: auto;
  grid-gap: unset;
  grid-template-columns: unset;
}

.section2_items {
  display: grid;
  width: 90%;
  grid-gap: 10px;
  grid-template-columns: 25% 75%;
  margin-bottom: 10px;
  height: 80px;
}

.section2_links {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.special_text {
  color: #adadad;
}

.section2_items > img {
  height: 100%;
  width: 100%;
}

.section2_links:hover {
  color: #f42;
}

#title_section1:hover {
  color: #000;
}
