@import "./footer";
@import "./media_querry_desktop";
@import "./media_querry_tablet";
@import "./nav_bar";
@import "./section1";
@import "./section2";
@import "./section3";
@import "./section4";
@import "./section5";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .body {
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
    width: 100%;
  }

  ul {
    list-style: none;
  }

  img {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: black;
  }

}
